:root {
  --Blue: #0e3f7b;

}
.hero-image {
  background-image: url("/assets/images/Home-screen.jpg");
  background-color: #b72424;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

P {
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--Blue);
}

/* 
:root {

}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-grow: 1;
}

body {
  font-style: monospace;
  font-size: 200%;
  background-color: black;
  color: white;
}

div{
    color: green;
} */