:root {
   
  }
  
  * {
    box-sizing: border-box;
  }
  
  main {
    display: flex;
    flex-grow: 1;
  }
  
  body {
   
  }
  
  header {
   
  }
  
  main .columns{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 50px;
  }